div.navbar-collapse.collapse {
    display: block;
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: max-height .3s ease;
    -moz-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .1s ease;
}
div.navbar-collapse.collapse.in {
    max-height: 2000px;
}

body {
  padding-top: 52px;
}

div.tab-frame {
	padding: 10px 20px 10px 20px;
	
	border:  1px solid #ddd;
	border-top: 0px;
}

div.bannerKlinikumDo {
	background-image:url('/images/klinikumdo.jpg');
	background-color: #84c551;
	padding:0px;
	padding-left:5px;
	padding-right:10px;
	margin-bottom:0px;
	margin-top:5px;
	border:0;
	height : 38px;
	min-width:600px;
	background-repeat:no-repeat;
	font-weight:bold;
	color:#ddd;
	font-size:18px;
	line-height:36px;

}


/* Fixes for maverix.css */
.btn-primaryX {
	background: -ms-linear-gradient(#D3F7FD, #87C5FB); /*IE10*/
}
 