<div class="container">

<h1>ADComputer-Management</h1>

<div class="row">

	<div class="col-md-6">
		<div class="form-group" ng-class="{'has-error' : noResults}">
			<input id="computerSelector" type ="text" ng-model="objSelected.computer.Name" typeahead="obj.computer.Name for obj in getComputers($viewValue)" 
				typeahead-editable="false" typeahead-no-results="noResults" typeahead-loading="loadingPC" typeahead-min-length="3" typeahead-wait-ms=100 
				typeahead-on-select="selectComputer($item,$model,$label)" typeahead-select-on-blur="true" typeahead-select-on-exact="true"
				class="form-control" autofocus>
			<i ng-show="loadingPC" class="fa fa-spinner fa-spin fa-lg"></i>
			<div ng-show="noResults" class="text-danger">
				<i class="fa fa-exclamation-triangle"></i> Host nicht zu finden!
			</div>
		</div>

		<div class="panel panel-info" ng-show="objSelected.computer.Name" ng-class="'flip-in'">
			<div class="panel-heading">
				<strong>DNS</strong>
			</div>
			<table class="table">
				<tr ng-repeat="entry in objSelected.dns">
					<td>{{entry.Name}}</td>
					<td><i class="fa fa-long-arrow-right"></i></td>
					<td>{{entry.Address}}</td>
				</tr>
				<tr ng-repeat="entry in objSelected.dns_rev">
					<td>{{entry.Name}}</td>
					<td><i class="fa fa-long-arrow-left"></i></td>
					<td>{{entry.NameHost}}</td>
				</tr>
			</table>
		</div>
	
		<!-- Ping -->
		<div class="panel panel-default" ng-show="objSelected.computer.Name">
			<div class="panel-body">
				<div class="pull-left text-info" ng-show="objSelected.onlinePending">
					<i class="fa fa-spinner fa-spin fa-lg"></i> Pinging {{objSelected.computer.DNSHostName}}...
				</div>
				<div class="pull-left" ng-show="!objSelected.online && !objSelected.onlinePending">
					<i class="fa fa-bullseye fa-lg text-danger"></i> Offline
				</div>
				<div class="pull-left"  ng-show="objSelected.online && !objSelected.onlinePending">
					<i class="fa fa-bullseye fa-lg text-success"></i> Online
				</div>
				<button class="btn btn-default btn-xs pull-right" ng-click="ping(objSelected)" ng-disabled="!objSelected.computer.Name">Ping</button>
			</div>
		</div>

	</div>

	<div class="col-md-6">
		<table class="table table-condensed">
			<tr ng-repeat="(k,v) in objSelected.computer">
				<th>{{k}}</th><td>{{v}}</td>
			</tr>
		</table>



		<ul  class="list-group">
			<li ng-repeat="user in users" class="list-group-item" ng-click="pcSel(this)">
				<h4 class="list-group-item-heading">{{user.Name}}</h4>
			</li>
		</ul>
	
	</div>
</div>

</div>