
<h1>Tiles</h1>
<tile></tile>
<div class="row">
  <div class="col-md-3 col-sm-4 col-xs-6 scale-fade-in" data-bind-height-to-width="0.5" ng-show="showtile" ng-click="click()" >
    <div style="height:100%; width:100%; background-color:orange">1</div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6" data-bind-height-to-width="1.0">
		<a href="#">
    <div style="height:100%; width:100%; background-color:blue">2</div>
		</a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6" data-bind-height-to-width>
		<a href="#">
    <div style="height:100%; width:100%; background-color:green">3</div>
		</a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6" data-bind-height-to-width="2">
		<a href="#">
    <div style="height:100%; width:100%; background-color:yellow">4</div>
		</a>
  </div>
</div>